# Виртуальное окружение
.venv/
env/
venv/
.env

# Кэш Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter / IPython
.ipynb_checkpoints

# PyCharm / VSCode
.idea/
.vscode/

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log

# Данные проекта (можно хранить локально, но не в репозитории)
data/csv/
data/streams/
app.db

# Файл слепок проекта
project_dump.txt
cycling-coach-project.zip
*.zip