{% extends "base.html" %}
{% block title %} Чат с тренером{% endblock %}
{% block content %}
    {% for msg in message_history %}

        {% if msg.role == 'user' %}
            <div>Я: {{ msg.content }}</div>
        {% else %}
            <div>Тренер: {{ msg.content }}</div>
        {% endif %}

    {% endfor %}
    <form id="chat-form" action="/coach/chat" method="post">
    <input type="text" name="user_question">
    <button type="submit">Отправить</button></form>
    <div id="loading_message" style="display:none;">
        ⏳ Тренер анализирует данные, подождите... </div>
        <script>
         // 1. Находим нашу форму по ID
const form = document.getElementById('chat-form');

// 2. Находим скрытое сообщение по ID
const loader = document.getElementById('loading_message');

// 3. Подслушиваем событие 'submit' (отправка) на форме
form.addEventListener('submit', function() {
    // Когда отправка произошла — меняем стиль на 'block' (показываем)
    loader.style.display = 'block';
});</script>
            {% endblock %}