<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Импорт тренировки</title>
</head>
<body>
    <a href="/workouts"
   style="display: inline-block;
          padding: 10px 20px;
          margin-bottom: 10px;
          background-color: #4CAF50;
          color: white;
          text-decoration: none;
          border-radius: 5px;">
   К списку тренировок
</a>
     <h1>Список тренировок</h1>
    <h1>Загрузка CSV</h1>
</body>
</html>
<form method="post" action="/imports" enctype="multipart/form-data">
    <input type="file" name="file" accept=".csv">
    <button type="submit">Загрузить</button>
</form>
