{% extends "base.html" %}
{% block title %} Это твой личный велотрекер{% endblock %}
{% block content %}
<a href="/workouts"
   style="display: inline-block;
          padding: 10px 20px;
          margin-bottom: 10px;
          background-color: #4CAF50;
          color: white;
          text-decoration: none;
          border-radius: 5px;">
   К списку тренировок
</a>

<a href="/imports"
   style="display: inline-block;
          padding: 10px 20px;
          margin-bottom: 10px;
          background-color: #2196F3;
          color: white;
          text-decoration: none;
          border-radius: 5px;">
   Загрузить тренировку
</a>
{% endblock %}