{% extends "base.html" %}
{% block title %} Создать профиль{% endblock %}
{% block content %}
    <h1>Создание профиля</h1>
    <form method="POST" action="/profile/create">
        <label>
            Имя:
            <input type="text" name="name" required>
        </label>
        <br>
        <label>
            Адрес электронной почты:
            <input type="text" name="email_address" required>
        </label>
        <br>
        <label>
            Дата рождения:
            <input type="date" name="birth_date">
        </label>
        <br>
        <label>
            Вес (кг):
            <input type="number" name="weight_kg" step="0.1" required>
        </label>
        <br>
        <label>
            Рост (см):
            <input type="number" name="height_cm">
        </label>
        <br>
        <label>
            FTP (Вт):
            <input type="number" name="current_ftp" required>
        </label>
        <br>
        <label>
            Ограничения, травмы:
            <input type="text" name="limitations" required>
        </label>
        <br>
        <label>
            Количество часов на тренировки в неделю:
            <input type="number" name="weekly_hours" required>
        </label>
        <br>
        <label>
            Оборудование(велосипеды, тренажеры):
            <input type="text" name="gear">
        </label>
        <br>
        <label>
            Место проживания, климат:
            <input type="text" name="environment_location" required>
        </label>
        <br>
        <button type="submit">Создать профиль</button>
    </form>
{% endblock %}
