<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мои тренировки</title>
</head>
<body>
    <a href="/imports"
   style="display: inline-block;
          padding: 10px 20px;
          margin-bottom: 10px;
          background-color: #2196F3;
          color: white;
          text-decoration: none;
          border-radius: 5px;">
   Загрузить тренировку
</a>
     <h1>Список тренировок</h1>
<table border="1">
    <tr>
        <th>Дата</th>
        <th>Тип</th>
        <th>Длительность (мин)</th>
        <th>Дистанция (км)</th>
    </tr>
    {% for w in workouts %}
    <tr>
        <td>{{ w.date }}</td>
        <td>{{ w.type }}</td>
        <td>{{ w.duration }}</td>
        <td>{{ w.distance }}</td>
    </tr>
    {% endfor %}
</table>
     <h2>Недавние загрузки</h2>
<table border="1">
    <tr>
        <th>Имя файла</th>
        <th>Время загрузки</th>
    </tr>
    {% for u in uploaded_workouts %}
    <tr>
        <td>{{ u.original_name }}</td>
        <td>{{ u.uploaded_at }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>